{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Hub - Learn Core Concepts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="nav-left">
                <a href="#">HOME 🏠</a>
               
            </div>

            <div class="search-container">
                <input type="text"  id="search"   placeholder="Search couses..." class="search input">
                <button type="submit" class="search-btn">🔍</button>
            </div>
            <div class="nav-right">
                 <a href="#">YOUR ACCOUNT 👤</a>
                <a href="#">Login 🔑</a>
                <a href="#">Signup 🔐</a>
            </div>
        </nav>
    </header>

    <section class="hero">

        <div class="welcome">
        <h3>Welcome</h3>
        <h4>to</h4>
        </div>

        <h1 class="heading">Learn more</h1>
        <p class="green"> <b>Here, you can learn about the core concepts of CSE</b></p>
        <button class="btn-get-started   start">GET STARTED</button>
    </section>

    <main class="container">
        <div class="lecture-grid">
            
<div class="column">
    <div class="card"><h3>OS</h3><b><p>Lec - 1</p></b></div>
    <div class="card"><h3>OS</h3><b><p>Lec - 2</p></b></div>
    <div class="card"><h3>OS</h3><b><p>Lec - 3</p></b></div>
    <div class="card"><h3>OS</h3><b><p>Lec - 4</p></b></div>
</div>

<div class="column">
    <div class="card"><h3>OOPs</h3><b><p>Lec - 1</p></b></div>
    <div class="card"><h3>OOPs</h3><b><p>Lec - 2</p></b></div>
    <div class="card"><h3>OOPs</h3><b><p>Lec - 3</p></b></div>
    <div class="card"><h3>OOPs</h3><b><p>Lec - 4</p></b></div>
</div>

<div class="column">
    <div class="card"><h3>Computer Network</h3><b><p>Lec - 1</p></b></div>
    <div class="card"><h3>Computer Network</h3><b><p>Lec - 2</p></b></div>
    <div class="card"><h3>Computer Network</h3><b><p>Lec - 3</p></b></div>
    <div class="card"><h3>Computer Network</h3><b><p>Lec - 4</p></b></div>
</div>

<div class="column">
    <div class="card"><h3>DBMS</h3><b><p>Lec - 1</p></b></div>
    <div class="card"><h3>DBMS</h3><b><p>Lec - 2</p></b></div>
    <div class="card"><h3>DBMS</h3><b><p>Lec - 3</p></b></div>
    <div class="card"><h3>DBMS</h3><b><p>Lec - 4</p></b></div>
</div>

</div>
    </main>

</body>
</html>